@font-face {
	font-family: 'DroidSansMono';
	src: url("./lib/DroidSansMono.ttf") format('truetype');
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: 'Montserrat';
	src: url("./lib/Montserrat-Regular.ttf") format('truetype');
	font-style: normal;
	font-weight: 600;
}


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;

	--blue: #95f6fd;
	--blue-transparent: #95f6fdb3;
	--yellow: #d59835;
	--red: #ba4b5b;
	--green: #4a9574;
	--o2-red: #E53935;
	--o2-yellow: #FFEA00;
	--o2-green: #00E676;
}

canvas {
	display: inline-block;
}

html {
	/*cursor: none;*/
}

::-webkit-scrollbar {
	display: none;
}

body {
	font-family: 'DroidSansMono', sans-serif;
	overflow: hidden;
}

section {
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
	scroll-snap-align: start;
	position: relative;
}

h1 {
	font-size: 50px;
}

.slider {
	scroll-snap-type: x mandatory;
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

#o2-readout {
	color: var(--blue);
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: end;
	top: 98px;
	left: 680px;
	width: 120px;
	height: 71.5px;
	box-sizing: border-box;
	border: 1px solid var(--blue-transparent);
	padding-right: 3px;
}

#o2-readout .label {
	font-size: 16px;
	padding-left: 3px;
}
#o2-readout .readout {
	font-size: 30px;
}

#max-value-container {
	position: relative;
	top: 350px;
	left: -5px;
	display: flex;
	gap: 20px;
}

#max-value-container .container {
	display: flex;
	align-items: center;
	border: 1px solid #95f6fdb3;
	box-sizing: border-box;
}

#max-value-container span {
	font-size: 30px;
	margin-right: 3px;
}

.max-value-label {
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-right: 12px;
	padding-left: 3px;
}

#race-mode-button {
	color: var(--blue);
	height: 44px;
	border: 2px solid var(--blue-transparent);
	background-color: transparent;
	box-sizing: border-box;
	padding-left: 25px;
	padding-right: 25px;
}

#race-mode-button.race-mode {
	background-color: var(--blue-transparent);
	color: black;
}

#temp-chart, #boost-chart {
	width: 100%;
	height: 100%;
}

.chart {
	background-image: url('4.jpg');
	background-size: cover;
}

#gauge-container {
	font-family: 'DroidSansMono', sans-serif;
	color: var(--blue);
	background-image: url('4.jpg');
	background-size: cover;
}

#gauge-container.green {
	background-color: var(--o2-green);
	background-image: none;
}
#gauge-container.yellow {
	background-color: var(--o2-yellow);
	background-image: none;
}
#gauge-container.red {
	background-color: var(--o2-red);
	background-image: none;
}

.gauge-icon {
	max-height: 20px;
	max-width: 20px;
	margin-left: 5px;
}

.gauge-display {
	display: flex;
	align-content: center;
}
